<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope="itemscope" itemtype="http://schema.org/Product">
{% include '../includes/head.html' %}

<body>
    <div class="navbar navbar-default navbar-fixed-top" data-ng-include="'/system/views/header.html'" data-role="navigation"></div>
    {% if adminEnabled %}
    <section class="admin-menu">
        <div data-ng-include="'/mean-admin/views/index.html'"></div>
    </section>
    {% endif %}
    {% if user.name %}
        <div class="left-nav-bar" ng-controller="NavbarController" data-ng-include="'/system/views/navbar.html'"></div>
        <div class="logged_container">
            <section  class="content">
                <section class="container-fluid">
                    {% block content %}{% endblock %}
                </section>
            </section>
        </div>
    {% else %}
        <section class="content">
            <section class="container-fluid">
                {% block content %}{% endblock %}
            </section>
        </section>
    {% endif %}

    {% include '../includes/foot.html' %}
</body>

</html>