<section data-ng-controller="DashboardController">
    <div ng-controller="VideoController as video">

        <div style="top:99px; width:80%;padding:5px;margin-top:15px;background-color:#686868;border-radius:10px" class="room-controls">
            <button class="create-room btn btn-default btn-sm" id="{{getRandom()}}">Open NEW Room</button>
            <input  style="height:33px;"  type="text" name="country" value="{{getRandom()}}" readonly>
            <button class="join-room btn btn-default btn-sm" >Join Room</button>
            <input  style="height:33px;" id="room-id" type="text" />
            <button ng-show='myuser.isPresenter' ng-click="video.startSharingScreen()" class="start-screensharing btn btn-default btn-sm">Start</button>
        </div>

        <div class="local-video-container" style="position:fixed;bottom: 20px;left:130px;z-index: 999;">
            <video ng-class="{ 'active' : myuser.stream }" style="width:300px" ng-src="{{myuser.stream}}" autoplay></video>

        </div>

        <div style="width:80%;float:left;min-height:1px;padding:10px" class="screen-container container">
            <video style="width:100%;border-width:3px;border-style:solid;border-color:#2d2d2d;" ng-show="screen" ng-src="{{screen.stream}}" autoplay></video>
        </div>

        <div style="width:20%;height:100%;position:fixed;float:left;right:0;overflow-y:scroll;" class="videos-container container">

            <div style="vertical-align:bottom;margin:15px 0 25px 0" ng-repeat="user in users">
                <!--<div>ID : <span>{{user.id}}</span></div>-->
                <!--<div>Username : <span>{{user.username}}</span></div>-->
                <!--<div>Am I presenter ? : {{user.isPresenter}}</div>-->
                <!--<button ng-show="myuser.isPresenter" class="switch-presenter" ng-click="video.switchPresenter(user.id)" >set as presenter</button>-->


                <!--<div id="video_box">-->
                <!--<div id="video_overlays"></div>-->
                <!--</div>-->
                <button style='position: absolute;' ng-show="myuser.isPresenter" class="switch-presenter" ng-click="video.switchPresenter(user.id)" >set as presenter</button>
                <video ng-class="{ 'active' : user.stream }" style="width:90%" ng-src="{{user.stream}}" autoplay></video>
                <div style='background-color: black; opacity: 0.6; width: 90%; float: left; margin-top: -5px;'>
                    <span style='float: right; font-size: 1em; color:#E1E1E1; font-variant: small-caps; padding-right: 5px;' ng-show="user.isPresenter"><i class='glyphicon glyphicon-expand'></i> presenting</span>
                    <span style='float: left; font-size: 1em;color:#E1E1E1; font-variant: small-caps; padding-left: 5px;'>{{user.username}}</span>
                </div>
            </div>
        </div>

        <!--<table  style="border-left: 1px solid black; width: 100%;">-->
        <!--<tr>-->
        <!--<td id="local-video-container">-->
        <!--<h2>Local video container</h2>-->

        <!--</td>-->
        <!--<td id="remote-videos-container" style="background: white; border-left: 1px solid black;">-->
        <!--<h2>Remote videos container</h2>-->
        <!--<div >-->

        <!--</div>-->
        <!--</td>-->
        <!--</tr>-->
        <!--</table>-->
        <!--<div style="width:100%">-->
        <!--</div>-->
        <!--</div>-->


</section>