<section data-ng-controller="Controller">
    <h1 mean-token="'home-default'">This is my dashboard</h1>

    <!--CRADO USE ANGLUAR YANN TOO LAZY TO LEARN FULL ANGULAR-->
    <input type="hidden" id="userId" value="{{global.user._id}}" />
    <!--v-->

    <!--<h2 id="number-of-participants" style="display: block;text-align: center;border:0;margin-bottom:0;">Its a full-HD (1080p) screen sharing application using <a href="https://www.webrtc-experiment.com/">WebRTC</a>!</h2>-->

    <!-- just copy this <section> and next script -->
    <section class="experiment">
        <!--<section>-->
        <!--<span>-->
        <!--Private ?? <a href="/Pluginfree-Screen-Sharing/" target="_blank" title="Open this link for private screen sharing!"><code><strong id="unique-token">#123456789</strong></code></a>-->
        <!--</span>-->
        <!--<input type="text" id="room-name" placeholder="Your Name">-->
        <!--<button id="share-screen" class="setup">Share Your Screen</button>-->
        <!--</section>-->

        <!--&lt;!&ndash; list of all available broadcasting rooms &ndash;&gt;-->
        <!--<table style="width: 100%;" id="rooms-list"></table>-->

        <!--&lt;!&ndash; local/remote videos container &ndash;&gt;-->
        <!--<div id="videos-container"></div>-->

        <input type="text" id="roomName" />


        <button id="createRoom">create the room</button>
        <button id="joinRoom">join the room</button>


        <input type="text" id="room" value="roomOne" />
        <!--<input type="text" id="message" />-->
        <button id="send">Send</button>

        <div id="message" style="background-color: red;height:50px;width:100%"></div>

    </section>






    <!--&lt;!&ndash;experiment&ndash;&gt;-->




    <!--&lt;!&ndash;-->
    <!--> Muaz Khan       - wwww.MuazKhan.com-->
    <!--> MIT License     - www.WebRTC-Experiment.com/licence-->
    <!--> Documentation   - github.com/muaz-khan/WebRTC-Experiment/tree/master/video-conferencing-->
    <!--&ndash;&gt;-->

    <!--<script>-->
    <!--document.createElement('article');-->
    <!--document.createElement('footer');-->
    <!--</script>-->

    <!--&lt;!&ndash; scripts used for video-conferencing &ndash;&gt;-->
    <!--&lt;!&ndash;<script src="/socket.io/socket.io.js"> </script>&ndash;&gt;-->

    <!--<body>-->
    <!--<article>-->

    <!--<div class="github-stargazers"></div>-->

    <!--&lt;!&ndash; just copy this <section> and next script &ndash;&gt;-->
    <!--<section class="experiment">-->
    <!--<section>-->
    <!--<span>-->
    <!--Private ?? <a href="/video-conferencing/" target="_blank" title="Open this link in new tab. Then your conference room will be private!"><code><strong id="unique-token">#123456789</strong></code></a>-->
    <!--</span>-->

    <!--<input type="text" id="conference-name">-->
    <!--<button id="setup-new-room" class="setup">Setup New Conference</button>-->
    <!--</section>-->

    <!--&lt;!&ndash; list of all available conferencing rooms &ndash;&gt;-->
    <!--<table style="width: 100%;" id="rooms-list"></table>-->

    <!--&lt;!&ndash; local/remote videos container &ndash;&gt;-->
    <!--<div id="videos-container"></div>-->
    <!--</section>-->

    <!--<script>-->
    // Muaz Khan     - https://github.com/muaz-khan
    // MIT License   - https://www.webrtc-experiment.com/licence/
    // Documentation - https://github.com/muaz-khan/WebRTC-Experiment/tree/master/video-conferencing

    <button id="init">Open NEW Session</button>

    <table style="border-left: 1px solid black; width: 100%;">
        <tr>
            <td id="local-video-container">
                <h2>Local video container</h2>
            </td>
            <td id="remote-videos-container" style="background: white; border-left: 1px solid black;">
                <h2>Remote videos container</h2>
            </td>
        </tr>
    </table>



</section>

<script>

    //    var SIGNALING_SERVER = 'https://webrtc-signaling.nodejitsu.com/';
    var SIGNALING_SERVER = '/',
            defaultChannel = location.hash.substr(1) || 'video-conferencing-hangout';

    window.username = Math.random() * 9999 << 9999;

    var connection = new RTCMultiConnection(defaultChannel);

    connection.session = {
        audio: true,
        video: true,
        screen: true
    };



    connection.openSignalingChannel = function(config) {
        var channel = config.channel || defaultChannel;
        var sender = Math.round(Math.random() * 60535) + 5000;

        io.connect(SIGNALING_SERVER).emit('new-channel', {
            channel: channel,
            sender: sender
        });

        var socket = io.connect(SIGNALING_SERVER + channel);
        socket.channel = channel;
        socket.on('connect', function() {
            if (config.callback) config.callback(socket);
        });

        socket.send = function(message) {
            socket.emit('message', {
                sender: sender,
                data: message
            });
        };

        socket.on('message', config.onmessage);
    };

    connection.onstream = function(e) {
        if (e.type === 'local') {
            var video = getVideo(e, {
                username: window.username
            });

            document.getElementById('local-video-container').appendChild(video);
        }

        if (e.type === 'remote') {
            var video = getVideo(e, e.extra);

            var remoteVideosContainer = document.getElementById('remote-videos-container');
            remoteVideosContainer.appendChild(video, remoteVideosContainer.firstChild);
        }
        e.mediaElement.width = innerWidth / 3.4;
    };

    connection.onleave = function(userid, extra) {
        if (extra) console.log(extra.username + ' left you!');

        var video = document.getElementById(userid);
        if (video) video.parentNode.removeChild(video);
    };

    function getVideo(e, extra) {
        var div = document.createElement('div');
        div.className = 'video-container';
        div.id = e.userid || 'self';

        if (e.type === 'remote') {
            if (connection.isInitiator) {
                var eject = document.createElement('button');
                eject.className = 'eject';
                eject.title = 'Eject this User';

                eject.onclick = function() {
                    connection.eject(this.parentNode.id);
                    this.parentNode.style.display = 'none';
                };
                div.appendChild(eject);
            }
        }
        div.appendChild(e.mediaElement);

        if (extra) {
            var h2 = document.createElement('h2');
            h2.innerHTML = 'username: ' + extra.username;
            div.appendChild(h2);
        }
        return div;
    }

    document.getElementById('init').onclick = function() {
        connection.interval = 1000;
        connection.open();
    };

    connection.extra = {
        username: window.username
    };

    connection.connect();
</script>

<!--var config = {-->
<!--openSocket: function(config) {-->
<!--var SIGNALING_SERVER = '/',-->
<!--defaultChannel = location.hash.substr(1) || 'video-conferencing-hangout';-->

<!--var channel = config.channel || defaultChannel;-->
<!--var sender = Math.round(Math.random() * 999999999) + 999999999;-->

<!--io.connect(SIGNALING_SERVER).emit('new-channel', {-->
<!--channel: channel,-->
<!--sender: sender-->
<!--});-->

<!--var socket = io.connect(SIGNALING_SERVER + channel);-->
<!--socket.channel = channel;-->
<!--socket.on('connect', function() {-->
<!--if (config.callback) config.callback(socket);-->
<!--});-->

<!--socket.send = function(message) {-->
<!--socket.emit('message', {-->
<!--sender: sender,-->
<!--data: message-->
<!--});-->
<!--};-->

<!--socket.on('message', config.onmessage);-->
<!--},-->
<!--onRemoteStream: function(media) {-->
<!--var mediaElement = getMediaElement(media.video, {-->
<!--width: (videosContainer.clientWidth / 2) - 50,-->
<!--buttons: ['mute-audio', 'mute-video', 'full-screen', 'volume-slider']-->
<!--});-->
<!--mediaElement.id = media.streamid;-->
<!--videosContainer.insertBefore(mediaElement, videosContainer.firstChild);-->
<!--},-->
<!--onRemoteStreamEnded: function(stream, video) {-->
<!--if (video.parentNode && video.parentNode.parentNode && video.parentNode.parentNode.parentNode) {-->
<!--video.parentNode.parentNode.parentNode.removeChild(video.parentNode.parentNode);-->
<!--}-->
<!--},-->
<!--onRoomFound: function(room) {-->
<!--var alreadyExist = document.querySelector('button[data-broadcaster="' + room.broadcaster + '"]');-->
<!--if (alreadyExist) return;-->

<!--if (typeof roomsList === 'undefined') roomsList = document.body;-->

<!--var tr = document.createElement('tr');-->
<!--tr.innerHTML = '<td><strong>' + room.roomName + '</strong> shared a conferencing room with you!</td>' +-->
<!--'<td><button class="join">Join</button></td>';-->
<!--roomsList.insertBefore(tr, roomsList.firstChild);-->

<!--var joinRoomButton = tr.querySelector('.join');-->
<!--joinRoomButton.setAttribute('data-broadcaster', room.broadcaster);-->
<!--joinRoomButton.setAttribute('data-roomToken', room.roomToken);-->
<!--joinRoomButton.onclick = function() {-->
<!--this.disabled = true;-->

<!--var broadcaster = this.getAttribute('data-broadcaster');-->
<!--var roomToken = this.getAttribute('data-roomToken');-->
<!--captureUserMedia(function() {-->
<!--conferenceUI.joinRoom({-->
<!--roomToken: roomToken,-->
<!--joinUser: broadcaster-->
<!--});-->
<!--}, function() {-->
<!--joinRoomButton.disabled = false;-->
<!--});-->
<!--};-->
<!--},-->
<!--onRoomClosed: function(room) {-->
<!--var joinButton = document.querySelector('button[data-roomToken="' + room.roomToken + '"]');-->
<!--if (joinButton) {-->
<!--// joinButton.parentNode === <li>-->
<!--// joinButton.parentNode.parentNode === <td>-->
<!--// joinButton.parentNode.parentNode.parentNode === <tr>-->
<!--// joinButton.parentNode.parentNode.parentNode.parentNode === <table>-->
<!--joinButton.parentNode.parentNode.parentNode.parentNode.removeChild(joinButton.parentNode.parentNode.parentNode);-->
<!--}-->
<!--}-->
<!--};-->

<!--function setupNewRoomButtonClickHandler() {-->
<!--btnSetupNewRoom.disabled = true;-->
<!--document.getElementById('conference-name').disabled = true;-->
<!--captureUserMedia(function() {-->
<!--conferenceUI.createRoom({-->
<!--roomName: (document.getElementById('conference-name') || { }).value || 'Anonymous'-->
<!--});-->
<!--}, function() {-->
<!--btnSetupNewRoom.disabled = document.getElementById('conference-name').disabled = false;-->
<!--});-->
<!--}-->

<!--function captureUserMedia(callback, failure_callback, forceSkipCustomGetUserMediaBar) {-->
<!--if(!forceSkipCustomGetUserMediaBar) {-->
<!--var mediaConstraints = {-->
<!--audio: true,-->
<!--video: true-->
<!--};-->

<!--navigator.customGetUserMediaBar(mediaConstraints, function () {-->

<!--// now you can invoke "getUserMedia" to seamlessly capture user's media-->
<!--captureUserMedia(callback, failure_callback, true);-->

<!--}, function () {-->

<!--// user clicked "Deny" or "x" button-->
<!--// throw new Error('PermissionDeniedError');-->
<!--alert('PermissionDeniedError: User denied permission.');-->

<!--if(failure_callback) failure_callback();-->

<!--});-->
<!--return;-->
<!--}-->

<!--var video = document.createElement('video');-->

<!--getUserMedia({-->
<!--video: video,-->
<!--onsuccess: function(stream) {-->
<!--config.attachStream = stream;-->
<!--callback && callback();-->

<!--video.setAttribute('muted', true);-->

<!--var mediaElement = getMediaElement(video, {-->
<!--width: (videosContainer.clientWidth / 2) - 50,-->
<!--buttons: ['mute-audio', 'mute-video', 'full-screen', 'volume-slider']-->
<!--});-->
<!--mediaElement.toggle('mute-audio');-->
<!--videosContainer.insertBefore(mediaElement, videosContainer.firstChild);-->
<!--},-->
<!--onerror: function() {-->
<!--alert('unable to get access to your webcam');-->
<!--callback && callback();-->
<!--}-->
<!--});-->
<!--}-->

<!--var conferenceUI = conference(config);-->

<!--/* UI specific */-->
<!--var videosContainer = document.getElementById('videos-container') || document.body;-->
<!--var btnSetupNewRoom = document.getElementById('setup-new-room');-->
<!--var roomsList = document.getElementById('rooms-list');-->

<!--if (btnSetupNewRoom) btnSetupNewRoom.onclick = setupNewRoomButtonClickHandler;-->

<!--function rotateVideo(video) {-->
<!--video.style[navigator.mozGetUserMedia ? 'transform' : '-webkit-transform'] = 'rotate(0deg)';-->
<!--setTimeout(function() {-->
<!--video.style[navigator.mozGetUserMedia ? 'transform' : '-webkit-transform'] = 'rotate(360deg)';-->
<!--}, 1000);-->
<!--}-->

<!--(function() {-->
<!--var uniqueToken = document.getElementById('unique-token');-->
<!--if (uniqueToken)-->
<!--if (location.hash.length > 2) uniqueToken.parentNode.parentNode.parentNode.innerHTML = '<h2 style="text-align:center;"><a href="' + location.href + '" target="_blank">Share this link</a></h2>';-->
<!--else uniqueToken.innerHTML = uniqueToken.parentNode.parentNode.href = '#' + (Math.random() * new Date().getTime()).toString(36).toUpperCase().replace( /\./g , '-');-->
<!--})();-->

<!--function scaleVideos() {-->
<!--var videos = document.querySelectorAll('video'),-->
<!--length = videos.length, video;-->

<!--var minus = 130;-->
<!--var windowHeight = 700;-->
<!--var windowWidth = 600;-->
<!--var windowAspectRatio = windowWidth / windowHeight;-->
<!--var videoAspectRatio = 4 / 3;-->
<!--var blockAspectRatio;-->
<!--var tempVideoWidth = 0;-->
<!--var maxVideoWidth = 0;-->

<!--for (var i = length; i > 0; i--) {-->
<!--blockAspectRatio = i * videoAspectRatio / Math.ceil(length / i);-->
<!--if (blockAspectRatio <= windowAspectRatio) {-->
<!--tempVideoWidth = videoAspectRatio * windowHeight / Math.ceil(length / i);-->
<!--} else {-->
<!--tempVideoWidth = windowWidth / i;-->
<!--}-->
<!--if (tempVideoWidth > maxVideoWidth)-->
<!--maxVideoWidth = tempVideoWidth;-->
<!--}-->
<!--for (var i = 0; i < length; i++) {-->
<!--video = videos[i];-->
<!--if (video)-->
<!--video.width = maxVideoWidth - minus;-->
<!--}-->
<!--}-->

<!--window.onresize = scaleVideos;-->

<!--</script>-->
